@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Fredericka+the+Great&family=Glegoo:wght@400;700&family=Ibarra+Real+Nova&family=Inter:wght@300;400&display=swap');
// global
$link-decoration: null;
$enable-rounded: true;
// Theme Colors
$primary: (#495E63);
$secondary: (#E39161);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Custom colors
$custom-colors: (
    "blue": (#92CCCE),
    "red": (#873D48),
    "green": (#A2D729),
);

// title font
.title{
    font-family: 'Glegoo',
}

// location info
.loc-info{
    background-image: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.5));
    font-family: 'Francois One',
}
// menu handwriting
.scribble{
    font-family: 'Fredericka the Great';
}
// francois one
.franc{
    font-family: 'Francois One';
}
// ibarra real nova
.ibarra{
    font-family: 'Ibarra Real Nova';
}

.no-underline{
    text-decoration: none;
}

.main-nav{
    position: fixed;
    background-color: transparent;
    transition: background-color 0.3s;
}

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

